@import "tailwindcss";

body {
    @apply bg-p-surface text-slate-800 antialiased;
}

button,
.btn {
    @apply cursor-pointer transition-all duration-200;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

button:active,
.btn:active {
    @apply scale-95;
    cursor: grabbing;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}